body{ z-index: 1;}

img{ width: 500px;
height: 300px;
border: solid;
border-width: 8px;

border-color: rgb(0, 41, 190);
}

.img1{ position: relative;
left: 100px;
}
.img2{ position: relative; 
    right: -150px;
top: -2px;
}

#projects{ position: relative;
top: -150px;
z-index: 1;
}

h3{ color: white;
font-size: 30px;
position: relative;
top: 150px;
}

h1, h2{ position: relative;
top: 80px;
color: #00adb5;

}

#navbar{ 
height: 50px;
width: 1348px;
position: fixed;
top: -8px;
left: -7px;
background-color: gray;
z-index: 2;
}

.a1, .a2, .a3{ position: relative;
bottom: 120px;
font-size: 20px;
color: white;
text-decoration: none;
}

.a1{ left: 250px;}
 .a2{ left: 325px ;}
  .a3{ left: 400px;}
  
  @media (max-height: 720px) and (max-width: 480px){
     
  body{ height: 720px;
width: 480px;
}
  }

#welcome-section{ 

  height: 100vh;


}

